@import 'mixins';
@font-face {
    font-family: "kumbh sans";
    src: url("./assets/font/KumbhSans-Regular.ttf") format("truetype"),
        url("./assets/font/KumbhSans-Bold.ttf") format("truetype"),
        url("./assets/font/KumbhSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: "space mono";
    src: url("./assets/font/SpaceMono-Regular.ttf") format("truetype"),
        url("./assets/font/SpaceMono-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "roboto slab";
    src: url("./assets/font/RobotoSlab-Regular.ttf") format("truetype"),
        url("./assets/font/RobotoSlab-Bold.ttf") format("truetype"),
        url("./assets/font/RobotoSlab-Light.ttf") format("truetype");
}
.pomodoro-app {
    width: 100%;
    height: 100%;
    background-color: #1e213f;
    color: #d7e0ff;
    font-family: "kumbh sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 2.8rem;
    }

    &.kumbhsans{
        font-family: "kumbh sans", sans-serif;
    }
    &.robotoslab {
        font-family: "roboto slab", sans-serif;
    }
    &.spacemono {
        font-family: "space mono", sans-serif;
    }
}

.timer-selector {
    background-color: #161932;
    padding: 0.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    li {
        z-index: 1;
        display: flex;
    }
    .timer-trigger {
        font-size: 0.88rem;
        background-color: transparent;
        color: rgba(215, 224, 255, 0.4);
        border: none;
        font-weight: bold;
        font-family: inherit;
        cursor: pointer;
        padding: 1rem 1.6rem;
        &.selected {
            background-color: #f87070;
            border-radius: 1.65rem;
            color: #1e213f;
            cursor: default;
            @include themebg;
        }
        &:not(:last-child) {
            margin-right: 1.2rem;
        }
    }
    margin-bottom: 2.8rem;
}

.settings-btn {
    background: transparent;
    border: none;
    color: #d7e0ff;
    z-index: 1;
    cursor: pointer;
}
